html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 260 px;
    background-color: #000000;
    color: #ffffff;
}

.info {

}

.info ul {
    list-style-type: none;
}
